@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Wix+Madefor+Display:wght@400..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html{
  scroll-behavior: smooth;
}

body{
  @apply bg-gradient-to-r from-cardBg_blue via-main_dark_blue to-main_darker_blue
}
