@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Wix+Madefor+Display:wght@400..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html{
  scroll-behavior: smooth;
}

body{
  @apply bg-gradient-to-r from-cardBg_blue via-main_dark_blue to-main_darker_blue
}

.home-header{
  @apply text-2xl md:text-4xl font-semibold
}
.tab-button{
  @apply p-2 w-[7rem] sm:w-[11.25rem] px-5 rounded-md outline-none
}
.contact-input{
  @apply w-full p-3 rounded-md my-1 outline-none text-black text-sm
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}